<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>no title</title>
  <script src="./vue.js"></script>
  <script src="./vuex.js"></script>
  <scriot src="./axios.js"></scriot>
  <script src="./audio.js"></script>
  <script src="./ui.js" defer></script>
  <script src="./notes.js" defer></script>
</head>
<body>
<!-- 本体 -->

<div id="editor">
  <svg :viewbox="'0 0 1500 ' + note_height*lanes['sawtooth'].length" :width="$store.state.n_bars*note_width*4" :height="note_height*lanes['sawtooth'].length"  @mousemove="mouse"
  :style=" 'background-color: #aaaaaa; margin-left: ' +  (- margin_position+100) +'px;'">
    
  <!-- 背景 -->
    <rect x="0" y="0" width="100%" height="100%" fill="#708090" style="fill-opacity:100%" @mousedown="mouse_down" @mouseup="mouse_up" @click="test"></rect>

    <!-- ノーツを描画 -->
    <rect v-for="note in $store.state.notes" :x="note['note'].start_time / 480 * note_width +3" :y="lanes['sawtooth'].indexOf(note['note'].pitch)*note_height +3" :width="note['note'].nagasa/480 * note_width -6" :height="note_height -6" fill="#7fffd4" stroke-width="3" stroke="#ffffff" @click="note_click"></rect>
    
    <!-- 横の線 -->
    <line v-for="n in lanes['sawtooth'].length" stroke="#000000" x1="0"  stroke-width="1" :x2="$store.state.n_bars*note_width*4" :y1="n*note_height" :y2="n*note_height" style="stroke-opacity: 50%;"></line>
    <!-- 縦の線 -->

    <line v-for="n in $store.state.n_bars" stroke-width="2" stroke="#000000" :x1="(n-1)*note_width*4" :x2="(n-1)*note_width*4" y1="0" :y2="note_height*lanes['sawtooth'].length" style="stroke-opacity:40%"></line> 

    <!-- 再生位置の線 -->
    <line stroke-width="2" stroke="#ff0000" :x1="margin_position" :x2="margin_position" y1="0" :y2="note_height*lanes['sawtooth'].length" style="stroke-opacity: 40%;"></line> 
  </svg>
  <br>
  {{screenx+","+screeny}}
  小節数:<input id="shosetu" type="number" :value="$store.state.n_bars" @input="shosetu_henshu">
  BPM:<input id="bpm" type="number" :value="$store.state.bpm" @input="bpm_henshu">
  <button id="start" @click="$store.commit('all_delete')">all delete</button>
</div>

<div id="test">
  {{ message }}
</div>
<div id="input_id">
  tableID:<input id="table_id" type="text" >
  name:<input id="who_make" type="text">
</div>
<div id="kenban">

</div>


<!-- コントローラ -->
<div id="controller">
    <img src="img/play.png" height="50px" width="50px" @click="play" v-if="!$store.state.isPlaying">
    <img src="img/pause.png" height="50px" width="50px" @click="pause" v-if="$store.state.isPlaying">
    <img src="img/stop.png" height="50px" width="50px" @click="stop">
    <br>
    <!-- シークバー -->
    <svg viewbox="0 0 900 20" :width="seekbarWidth" height="20" style="background-color: #ffffff;" @mousedown="mousedown" @mouseup="mouseup" @mousemove="seek" id="seekbar">
      <rect :x="seekX" y="0" width="10" height="20" fill="#ff0000"></rect>
    </svg>
    <br>
    {{ $store.state.position }} /  {{ $store.state.total_length }}
</div>

</body>
</html>