<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>no title</title>
  <script src="./vue.js"></script>
  <script src="./audio.js"></script>
  <script src="./manager.js" defer></script>
  <script src="./ui.js" defer></script>
  <script src="./notes.js" defer></script>
</head>
<body>
<!-- 本体 -->

<div id="wrapper" style="overflow:hidden; width:1200px;">
  <svg :viewbox="'0 0 1500 ' + note_height*7" :width="n_bars*note_width*4" :height="note_height*8"  @mousemove="mouse"
  :style=" 'background-color: #aaaaaa; margin-left: ' +  (- playing_position+100) +'px;'">
    <!-- 背景 -->
    <rect x="0" y="0" width="100%" height="100%" fill="#ff0000" style="fill-opacity:10%" @mousedown="mouse_down" @mouseup="mouse_up" @click="test"></rect>

    <!-- ノーツを描画 -->
    <rect v-for="note in notes" :x="note.start_time" :y="note.pitch" :width="note.nagasa" :height="note_height" fill="#e0e010" @click="note_click"></rect>
    
    <!-- 横の線 -->
    <line v-for="n in 7" stroke="#000000" x1="0"  stroke-width="1" :x2="n_bars*note_width*4" :y1="n*note_height" :y2="n*note_height"></line>
    <!-- 縦の線 -->
    <line v-for="n in n_bars" stroke="#000000" :x1="(n-1)*note_width*4" :x2="(n-1)*note_width*4" y1="0" :y2="note_height*8"></line> 
    <!-- 再生位置の線 -->
    <line stroke="#ff0000" :x1="playing_position" :x2="playing_position" y1="0" :y2="note_height*8"></line> 
  </svg>
  {{screenx+","+screeny}}
</div>

<div id="test">
  {{ message }}
</div>
<div id="input_id">
  tableID:<input id="table_id" type="text" >
  name:<input id="who_make" type="text">
  <input id="start" type="button" value="start!">
</div>
<div id="kenban">

</div>


<!-- コントローラ -->
<div id="controller">
    <img src="img/play.png" height="50px" width="50px" @click="play" v-if="!isPlaying">
    <img src="img/pause.png" height="50px" width="50px" @click="pause" v-if="isPlaying">
    <img src="img/stop.png" height="50px" width="50px" @click="stop">
    <br>
    <!-- シークバー -->
    <svg viewbox="0 0 900 20" :width="seekbarWidth" height="20" style="background-color: #ffffff;" @mousedown="mousedown" @mouseup="mouseup" @mousemove="seek" id="seekbar">
      <rect :x="seekX" y="0" width="10" height="20" fill="#ff0000"></rect>
    </svg>
    <br>
    {{ nowPosition }} /  {{ total_length }}
</div>

</body>
</html>