body{
    width:100%;
    margin-left:0;
    margin-top:0;
}
#wrapper{
    background-color: #000000;
    width: 100%;
}

#controller{
    background: linear-gradient(90deg, #606060 0%, #808080 10%, #808080 90%, #606060 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#editor{
    overflow:hidden;
    width:100%;
    background-color: #8090a0;
}


#input_options{
    background-color: #a0a0d0;
    width: 100% -20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#input_id{
    width: 100% -20px;
    background-color:#a0a0ff;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}